$primary-color: #0c557f;
$secondary-color: #4db8e2;
$default-grey: #282c34;
$default-black: #0f0f0f;
$default-gray: hsl(0, 0, 15%);
$default-white: #fdfdfa;
$header-font-stack: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
$copy-font-stack: 'Roboto Slab', 'Lucida Bright', Palatino, serif;

// Alternative colors
$primary-color-alt: #0c557f;
$secondary-color-alt: #4db8e2;

// Breakpoints
$mobile-max-width: 768px;
$tablet-max-width: 1024px;
$desktop-large-width: 1600px;

$mobile-header-height: 48px;
$desktop-menu-width: 260px;
$desktop-large-menu-width: 280px;
$content-width: 70%;
$content-mobile-width: 90%;
$content-max-width: 940px;

@mixin dark-scheme {
  color: $default-white;
  background-color: $default-black;
  a {
    color: $secondary-color;
  }
}

@mixin light-scheme {
  color: $default-black;
  background-color: $default-white;
  a {
    color: $primary-color;
  }
}
