@import '~assets/styles/fonts.scss';

$primary-color: #0C557F;
$secondary-color: #16A0EF;
$header-font-stack: 'Muli',
Verdana,
Geneva,
Tahoma,
sans-serif;
$copy-font-stack: 'Roboto Slab',
'Lucida Bright',
Palatino,
serif;
