@import '@/assets/styles/fonts.scss';

$primary-color: #0C557F;
$secondary-color: #4DB8E2;
$default-grey: #191F19;
$default-black: #0F0F0F;
$default-white: #FDFDFA;
$header-font-stack: 'Muli', Verdana, Geneva, Tahoma, sans-serif;
$copy-font-stack: 'Roboto Slab', 'Lucida Bright', Palatino, serif;

// Alternative colors
$primary-color-alt: #0C557F;
$secondary-color-alt: #4DB8E2;

// Breakpoings
$mobile-max-width: 768px;
$tablet-max-width: 960px;
$desktop-large-width: 1200px;
